
.tab-cs {
background-color: rgb(254, 254, 255);
}

.menu-c {
    background-color: rgb(0, 175, 70);
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1px;
    cursor: pointer;
}

.menu-c:hover {
    background-color: rgb(0, 139, 46);
}

.compr {
    height: 200px;
    border: 1px solid rgb(18, 185, 88);
    border-radius: 10px;
}

.compx {
    border: 1px solid #6e6e6e;
    margin-top: 10px;
    padding-left: 30px;
    padding-bottom: 60px;
}
.cont-t {
    margin-top: 20px;
}

.cont-i {
    margin: 10%;
    width: 250px;
    height: 150px;
    border-radius: 20px;
}

.cont-i:hover {
    background-color: rgba(201, 201, 201, 0.856);
}

.cont-p {
    width: 100px;
    height: 80px;
}

.cont-p:hover {
    background-color: rgba(201, 201, 201, 0.856);
}

.scrolls {
    height: 615px;
    overflow: auto;
}

.scrolls::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(151, 151, 151);
}

.scrolls::-webkit-scrollbar-thumb {
    
    background-color: rgb(21, 133, 26);
}


.scrolls-p {
    height: 680px;
    overflow: auto;
}

.scrolls-p::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(151, 151, 151);
}

.scrolls-p::-webkit-scrollbar-thumb {
    
    background-color: rgb(21, 133, 26);
}

.scrolls-per {
    height: 550px;
    overflow: auto;
    border: 2px solid rgb(21, 133, 26);
    margin-left: 10px;
}

.text-per {
    margin-left: 10px;
}

.img-am {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.nom-am {
    border: 0px;
    width: 100%;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
}

.nom-am-pr {
    border: 0px;
    width: 100%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.nom-per {
    border: 0px;
    width: 200px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
}

.img-fr {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.nom-fr {
    font-size: 20px;    
    border: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.imgx {
    padding: 5px;
}
.wdls {
    margin: 10px;
    border: 1px solid #6e6e6e;
    border-radius: 5px;
}
.btn_ls {
    margin-top: 10px;
}

.btn-ed {
    background-color: rgb(0, 150, 80);
    border-radius: 5px;
    color: #fff;
    border: 0px;
    padding: 5px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-ed:hover {
    background-color: rgb(3, 94, 51);
}

.ed-form {
    align-items: center;
}


.btn-ver-c {
    margin-top: 20px;
    
}

.formx {
    margin: 50px;
    border: 1px solid #6e6e6e;
    border-radius: 10px;
}

.formx-fr {
    margin: 50px;
    border: 1px solid #6e6e6e;
    border-radius: 10px;
}

.img_pp {
    border-radius: 100%;
    width: 100px;
    height: 170px;;
}

.circulo {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 20px;
    margin-bottom: 10px;
}

.prim-p {
    border: 1px solid #6e6e6e;
}

.txt_pub {
    margin-left: 20px;
}

.btn-b {
    margin: 10px;
    color: #fff;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
}

.btn-b:hover {
    color: #3c3c3c;
}

.im-b {
    border-radius: 5px;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-bottom: 20px;
}

.inp-f {
   margin-left: 5%;
}

.in-file::-webkit-file-upload-button {
    visibility: hidden;
  }
  .in-file::before {
    content: 'Agregar imagen';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    color: #000;
  }
  .in-file:hover::before {
    border-color: black;
  }
  .in-file:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  .inpbtm {      
      width: 90%;
  }

  .btn-pub {
      width: 90%;
      margin-left: 5%;
  }

  .frm-i {
      margin-top: 50px;
  }
  .mov-i {
      margin-left: 50px;
      border-radius: 20px;
  }

  .mov-ti {
      background-color: #fff;
  }
  .siz-i {
    width: 250px;
    height: 250px;
  }


  .scrolls-c {
    height: 625px;
    overflow: auto;
}

.scrolls-c::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(151, 151, 151);
}

.scrolls-c::-webkit-scrollbar-thumb {
    
    background-color: rgb(21, 133, 26);
}

.scrolls-am {
    height: 260px;
    overflow: auto;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.scrolls-fr {
    height: 505px;
    overflow: auto;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.cont-am {
    padding-top: 5px;
    border-bottom: 2px solid rgb(21, 133, 26);
}

.cont-am:hover {
    background-color: #17ac1f;
}

.scrolls-am::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(151, 151, 151);
}
.scrolls-am::-webkit-scrollbar-thumb {
    
    background-color: rgb(21, 133, 26);
}

.pub-p {
    border: 1px solid #6e6e6e;
    border-radius: 10px;
}

.pub-c {
    border: 1px solid #6e6e6e;
    border-radius: 10px;
}

.reg-s {
    margin-left: 25%;
    margin-top: 100px;
}


@media only screen and (min-width: 992px) and (max-width: 1100px) {

  }
  
  @media only screen and (min-width: 800px) and (max-width: 991px) {
    
  }
  
  @media only screen and (min-width: 768px) and (max-width: 799px) {
    .compr {
        height: 400px;
    }
    
  }
  
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .compr {
        height: 600px;
    }
    .reg-s {
        margin-left: 0%;
        margin-top: 10px;
    }
  }
  
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .compr {
        height: 300px;
    }
    .reg-s {
        margin-left: 0%;
        margin-top: 10px;
    }
    .tab-cs {
        display: none;
        }
  }
  
  @media only screen and (min-width: 300px) and (max-width: 479px) {
    .compr {
        height: 400px;
    }
    .cont-t {
        margin-top: 0px;
    }
    .inpbtm {      
        width: 100%;
    }
    .cont-i {
        width: 0px;
        height: 150px;
        margin: 2px;
    }
    .reg-s {
        margin-left: 0px;
        margin-top: 10px;
    }
    .tab-cs {
        display: none;
        }
  }
  @media (max-width: 450px) {
    
  }

/*
.compr {
    height: 200px;
    border: 1px solid rgb(18, 185, 88);
    border-radius: 10px;
}
*/