*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f8f8ff;
    height: 600px;
}

.reg {
    margin-top: 100px;
    margin-left: 400px;
    background-color: #ffffff;
}



.scroll::-webkit-scrollbar {
    width: 7px;

}

.scroll::-webkit-scrollbar-thumb {
    background: green; 
}